*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */
.debug{
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: yellow;
  border: 1px solid black;
}
/* !important; usala quando necessario */

.jumbotron{
  background-color: transparent !important;
}
/* /debug/ */



/* Utility */
/* font */
.fnt_3{
  font-size: 3em;
}
.fnt_2{
  font-size: 2em;
}
/* /font/ */

/* position absolute*/
.pos_rel{
  position: relative;
}
.pos_abs{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /position absolute/ */

/* colori di background */
.bk_cl_w{
  background-color: white !important;
  border-color: white !important;
}
/* /colori di background/ */

.cl_w{
  color: #80aaff !important;
}

.cl_b{
  color: blue !important;
}
/* margini e padding */
.mrgn_tp_100{
  margin-top: 100px;
}
.mrgn_btm_100{
  margin-bottom: 100px;
}
.mrgn_tp_50{
  margin-top: 50px;
}
.mrgn_btm_50{
  margin-bottom: 50px;
}
.mrgn_tp_20{
  margin-top: 20px;
}
.mrgn_btm_20{
  margin-bottom: 20px;
}
.p_20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.p_50{
  padding-top: 50px;
  padding-bottom: 50px;
}
/* /margini e padding/ */
/* /Utility/ */

.jumbotron_top{
  background-image: url("../img/jumbotron_top.svg");
}
.jumbotron_low{
  background-color: lightgray;
}

#sign_up{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #80aaff;
  border-radius: 5px;
  color: #80aaff !important;
}

#footer_side{
  color: white !important;
}
.footer_top{
  background-image: linear-gradient(#1a66ff, #003cb3);
}
.fotter_btn{
  margin-top: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
.footer_lower{
  background-image: linear-gradient(#002266, #002b80);
}
