*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* !important; usala quando necessario */



/* HEADER */
#nav_logo{
  max-width: 50%;
}

.display_inline a{
  text-decoration: none;
}

.line_height{
  line-height: 1.5em;
}

.jumbotron_top{
  background-image: url("../img/jumbotron_top.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron_form{
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 20px;
}
.account{
  background-color: #3399ff !important;
}
.jumbotron_low{
  background-color: #f2f2f2 !important;
}
/* /HEADER/ */



/* MAIN */
/* Main1 */
.box li{
  line-height: 3.5em;
  padding-left: 10px;
}
/* /Main 1/ */


/* Main 2 */
.carosello h2, p{
  line-height: 5rem;
}
.carosello img{
  width: 50%;
}
/* /Main 2/ */


/* Main 3 */
.box_feature{
  width: 70%;
}
/* /Main 3/ */


/* Main 4 */
.region_12{
  background-image: linear-gradient(#1a66ff, #003cb3);
}
/* /Main 4/ */


/* /Main 5/ */
.carosello_box{
  width: fit-content;
  background-color: white !important;
}
.carosello_box img{
  padding-top: 20px;
  width: 50%;
}
.carosello_box p{
  line-height: 1.5em;
  padding: 20px 10px;
}
.carosello_box a{
  padding-bottom: 100px;
}
/* /Main 5/ */
/* /MAIN/ */



/* FOOTER */
.footer_top{
  background-image: linear-gradient(#1a66ff, #003cb3);
}
.footer_top h3{
  color: white;
}
.fotter_btn{
  margin-top: 10px;
  padding: 5px 10px !important;
  border: 1px solid white;
  border-radius: 5px;
}
.fotter_btn a{
  color: blue !important;
}
.footer_lower{
  background-image: linear-gradient(#002266, #002b80);
}
.footer_lower img{
  width: 50px;
}
#logo_text{
  color: #f2f2f2 !important;
}
/* /FOOTER/ */
